<mat-nav-list>
    <a mat-list-item routerLinkActive="active" routerLink="/one">
        <mat-icon mdListIcon>home</mat-icon>
        Inicio
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/two">
        <mat-icon mdListIcon>email</mat-icon>
        Mensajes
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/one">
        <mat-icon mdListIcon>dashboard</mat-icon>
        Aplicaciones
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/two">
        <mat-icon mdListIcon>insert_drive_file</mat-icon>
        Documentos
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/two">
        <mat-icon mdListIcon>assignment</mat-icon>
        Encuestas
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/two">
        <mat-icon mdListIcon>date_range</mat-icon>
        Citas pendientes
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="active" routerLink="/one">
        <mat-icon mdListIcon>help</mat-icon>
        Ayuda
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/one">
        <mat-icon mdListIcon>settings</mat-icon>
        Ajustes
    </a>
    <a mat-list-item>
        <mat-icon mdListIcon>power_settings_new</mat-icon>
        Desconexión
    </a>
</mat-nav-list>